body {
    font-family: sans-serif;
    /*Aussehen des gesamten <body>-Bereichs gestalten*/
    background-color: #ffffff;
    text-align: center;
    margin-top: 50px;
    /*<body> oben 50 Pixel Abstand zur Browserkante.*/
    /*margin ist der Außenabstand
    margin-top = Abstand oben*/
}