html {
  scroll-behavior: smooth;
}
/* FONTS-------------------------------------------------------------------- */

@font-face {
    font-family: 'migha';
    src: url('fonts/migha/Migha-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'blox-brk';
    src: url('fonts/blox-brk/Blox2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manbow';
    src: url('fonts/manbow/Manbow\ Clear.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* DARK MODE --------------------------------------------------------------- */
@media (prefers-color-scheme: dark) {
  /* TODO */
}
/* SCREENSIZE--------------------------------------------------------------- */

/* Ab 400px (größere Smartphones) */
@media (min-width: 400px) {
  body header {
    background-size: 90% auto;
  }

  body header h1 {
    font-size: 60px;
    letter-spacing: -2px;
  }

  body header p {
    font-size: 18px;
    letter-spacing: -1px;
    margin-top: 0px;
  }
  nav ul {
    backdrop-filter: blur(6px); /* Glass-Effekt */
  }
}

/* Ab 460px (größere Smartphones) */
@media (min-width: 460px) {
  body header {
    background-size: 80% auto;
  }

  body header h1 {
    font-size: 60px;
    letter-spacing: -2px;
  }

  body header p {
    font-size: 18px;
    letter-spacing: -1px;
    margin-top: 0px;
  }
}

/* Ab 576px (kleine Tablets / Smartphones quer) */
@media (min-width: 576px) {
  body header {
    background-size: 65% auto;
  }

  body header h1 {
    font-size: 65px;
    letter-spacing: -2px;
  }

  body header p {
    font-size: 20px;
    margin-top: -2px;
  }
}

/* Ab 768px (Tablets) */
@media (min-width: 768px) {
  body header {
    background-size: 60% auto;
  }

  body header h1 {
    font-size: 70px;
    letter-spacing: -2px;
  }

  body header p {
    font-size: 22px;
    margin-top: -4px;
  }
}

/* Ab 992px (kleine Laptops) */
@media (min-width: 992px) {
  body header {
    background-size: 60% auto;
  }

  body header h1 {
    font-size: 75px;
    letter-spacing: -3px;
  }

  body header p {
    font-size: 26px;
    margin-top: -6px;
  }
}

@media (min-width: 1080px) {
  body header {
    background-size: 60% auto;
  }

  body header h1 {
    font-size: 75px;
    letter-spacing: -3px;
  }

  body header p {
    font-size: 26px;
    margin-top: -6px;
  }
  nav ul {
    backdrop-filter: none; /* Glass-Effekt aus */
  }
}

/* Ab 1200px (große Desktops / MacBooks) */
@media (min-width: 1200px) {
  body header {
    background-size: 60%; /* "reinzoomen" für große Displays */
  }

  body header h1 {
    font-size: 80px;
    letter-spacing: -3px;
  }

  body header p {
    font-size: 30px;
    letter-spacing: -2px;
    margin-top: -10px;
  }

}

/* INDEX ------------------------------------------------------------------- */
/* Background Airbrushes for header */
body {
  margin: 0;
  height: 100vh;
  background: 

    radial-gradient(circle at 80% 70%, rgba(189, 176, 255, 0.8), transparent 40%),
    radial-gradient(circle at 60% 20%, rgba(255,200,100,0.8), transparent 40%),
    radial-gradient(circle at 30% 80%, rgba(0,200,150,0.7), transparent 40%),
    radial-gradient(circle at 70% 40%, rgba(255,100,180,0.7), transparent 40%);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  animation: airbrush 12s linear infinite alternate;
}

@keyframes airbrush {
  0% {
    background-position: 10% 10%, 90% 90%, 50% 20%, 30% 80%, 70% 40%;
  }
  50% {
    background-position: 80% 80%, 20% 30%, 70% 90%, 60% 20%, 40% 70%;
  }
  100% {
    background-position: 10% 10%, 90% 90%, 50% 20%, 30% 80%, 70% 40%;
  }
}

body header {
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
    box-sizing: border-box;

    background-image: url("bilder/arabic_ed474a.svg");
    background-repeat: no-repeat;
    background-position: right 5% top 0;  /* position der arabischen Schrift auf dem Bildschirm*/
    /* background-size: clamp(300px, 100vw, 1000px) auto; */
}

body main {
  background-color: #ffffff;
}

body {
    background-color: #ffffff;
    font-family: "inter", sans-serif;
    color: #242424;
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
    margin: 0;

    /* TODO */
    /* cursor: url('cursor-ed474a.svg') 16 16, auto; */
}
/* Navbar ------------------------------------------------------------------ */

nav ul{
    position: fixed;
    /* background-color: #ffffff; */
    top: 0;
    width: 100%;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
    margin: 0;
    /* Abstand zum Displayrand */
    padding-right: 30px; 
    padding-left: 30px;
    box-sizing: border-box; /* damit padding nicht die Breite beeinflusst */
}

nav ul li {
    margin: 0 6px; /* Abstand zwischen den Listenelementen */
}

nav ul li.right {
    margin-left: auto; /* Abstand links */
} 

body a {
    color: #ED474A;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
}  

.arrow_up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* INDEX-------------------------------------------------------------------- */

header h1 {
    /* normalerweise schriftgröße 70px,bestenfalls 7vw, max. 600px */
    font-size: clamp(2.5rem,7vw,37.5rem);
    letter-spacing: clamp(-3px, -0.9vw, -0.6rem);
    padding: 0;
    margin: 0;
}

header p {
    font-size: clamp(20px,2vw,40px);
    letter-spacing: clamp(-2px, -0.5vw, -7px);
    margin-top: -10px
}

body main h2 {
    color: #242424;
    font-size: clamp(20px,3.5vw,200px);
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: -10px;
}

main {
    padding: 10% 15% ;
    box-sizing: border-box;
}

/* ME ---------------------------------------------------------------------- */

body.me header {
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
    box-sizing: border-box;
    color: #FFFFFF;

    background-image: url("bilder/arabic_FFFFFF.svg");
    background-repeat: no-repeat;
    background-position: right 5% top 0;  /* nicht ganz am Rand */
}

body.me main {
    background-color: #ffffff;
}

/* Navbar erlaubt, dass Elemente rausstehen */
body.me nav ul {
    background-color: #ffffff;
    overflow: visible;
}

/* Aktiver Button */
body.me nav ul li#current_page {
    position: relative;
    padding: 5px 20px;
    z-index: 2;
}

/* Smooth Halbkreis unten */
body.me nav ul li#current_page::after {
    content: "";
    position: absolute;
    bottom: px;   /* wie weit er nach unten geht */
    left: 0px;     /* bisschen breiter machen */
    right: 0px;
    height: 30px;
    background-color: #ED474A;
    border-radius: 50% / 100%;  /* sanft oval */
    z-index: -1;
}

/* Text sichtbar */
body.me nav ul li#current_page a {
    color: #fff;
}


/* Vier-Spalten-Layout für Sprachen */
.languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.languages dt {
  font-weight: bold;
  margin-bottom: 0.25rem;
}
/* CODE -------------------------------------------------------------------- */

/* Skill-Rating mit 5 Kreisen */
.rating {
  display: flex;
  justify-content: center;
  gap: 6px;
}

/* alle 5 Kreise */
.rating::before {
  content: "● ● ● ● ●";
  font-size: 18px;
  letter-spacing: 4px;
  color: #ccc; /* Standard: grau */
}

/* gefüllte Kreise pink färben */
.rating[data-level="1"]::before { content: "● ○ ○ ○ ○"; color: #ED474A; }
.rating[data-level="2"]::before { content: "● ● ○ ○ ○"; color: #ED474A; }
.rating[data-level="3"]::before { content: "● ● ● ○ ○"; color: #ED474A; }
.rating[data-level="4"]::before { content: "● ● ● ● ○"; color: #ED474A; }
.rating[data-level="5"]::before { content: "● ● ● ● ●"; color: #ED474A; }



/* HOVER------------------------------------ */
nav ul li a:hover {
  color: #242424; /* Text wird blau */
}
/* Hover für aktiven Link ("me") */
body.me nav ul li#current_page a:hover {
  color: #242424; /* überschreibt das Weiß */
}
/* ICONS */
/* Hover → schwarzes Icon */
nav ul li a:hover img {
  content: url("icons/black/home_icon_black.svg");
}
/* Home-Icon */
nav ul li a img[src*="home_icon_ED474A.svg"]:hover {
  content: url("icons/242424/home_icon_242424.svg");
}

/* Moon-Icon */
nav ul li a img[src*="moon_icon_ED474A.svg"]:hover {
  content: url("icons/242424/moon_icon_242424.svg");
}

/* Call-Icon */
nav ul li a img[src*="call_icon_ED474A.svg"]:hover {
  content: url("icons/242424/call_icon_242424.svg");
}

/* Message-Icon */
nav ul li a img[src*="messsage_icon_ED474A.svg"]:hover {
  content: url("icons/242424/messsage_icon_242424.svg");
}

/* ----------------------------------------- */

body.me {
    background-color: #ED474A;
    font-family: "inter", sans-serif;
    color: #242424;
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    cursor: url('cursor-ed474a.svg') 16 16, auto;
}


/* ------------------------------------------------------------------------- */

/* Footer--------------------------------------------------------------------- */

footer {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    padding: 0;
    margin: 0;

    width: 100%;
    height: auto;


    background-color:#242424;
    color: #FFFFFF;
    text-align: left;
    box-sizing: border-box;
}

footer h2 {
    color: #ffffff;
    font-size: clamp(25px,1.5vw,70px);
    font-weight: normal;
    margin: 0;
    padding: 0;
}
footer h3 {
    color: #ffffff;
    font-size: clamp(20px,1vw,50px);
    font-weight: normal;
    margin: 0;
    padding-left: 4%;
}

footer a {
  font-family: inter, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

/* --------------------------------- */
ul.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertikal zentriert */
    height: auto;
    width: 100%;
    box-sizing: border-box; /* damit padding nicht die Breite beeinflusst */
    /* Abstände links und rechts */
    padding: 0 10%;
}

ul.footer_content li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* --------------------------------- */
ul.socials {
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

ul.socials li {
  display: flex;
  align-items: center;  /* vertikal zentriert */
  gap: 8px;             /* Abstand Icon ↔ Text */
}

ul.socials li img {
  width: 24px;
  height: auto;
}

/* Links in Social-Bereich */
ul.socials li a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

/* Nur LinkedIn + GitHub nebeneinander */
.social-links {
  display: flex;
  gap: 20px;  /* Abstand zwischen LinkedIn und GitHub */
}


.social-links a:hover {
  color: #47ed60;
  font-weight: bold;
}

/* Telefonnummer hervorheben, wenn per #call angesprungen */
span#call:target {
  animation: highlight-call 10s ease forwards;
}

@keyframes highlight-call {
  0% {
    color: #47ed60;
    font-weight: bold;
  }
  100% {
    color: #fff;          /* ursprüngliche Farbe wiederherstellen */
    font-weight: normal;
  }
}


span#call {
  display: inline-block;   /* verhindert Layout-Verschieben */
  min-width: max-content;  /* Nummer bleibt stabil */
}

/* "Get to know us" hervorheben, wenn per #message angesprungen */
h3#message:target {
  animation: highlight-message 10s ease forwards;
}

@keyframes highlight-message {
  0% {
    color: #47ed60;
    font-weight: bold;
  }
  100% {
    color: #fff;          /* ursprüngliche Farbe wiederherstellen */
    font-weight: normal;
  }
}


h3#message {
  display: inline-block;   /* verhindert Layout-Verschieben */
  min-width: max-content;  /* Nummer bleibt stabil */
}


/* --------------------------------- */
.contact-form {
  display: flex;
  flex-wrap: wrap;       /* damit es bei kleinen Bildschirmen umbricht */
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

/* Einheitliches Styling für Eingabefelder und Textareas */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 6px 10px;
  border-radius: 20px;
  font-family: "inter", sans-serif;
  font-size: 0.7rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

/* Eingabefelder kompakt */
.contact-form input {
  height: 28px;
  line-height: 1.2;
}

/* Textarea für Nachrichten größer */
.contact-form textarea {
  min-height: 80px;
  max-height: 120px;
  resize: none;
}

/* rechte Message-Box */
.contact-form .form-right textarea {
  flex: 1;                 
  min-height: 80px;        /* kleiner als vorher */
  max-height: 120px;       /* nicht zu groß werden */
}

/* Linke Spalte */
.contact-form .form-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: fit-content;
}

/* Rechte Spalte */
.contact-form .form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

/* Button über die volle Breite */
.contact-form .form-actions {
  width: 100%;
  text-align: right;
  margin-top: 5px;
}

.contact-form button {
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  background-color: #ED474A;
  color: #fff;
  font-size: 0.85rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #47ed60;
  color: #242424;
  font-weight: bold;
}

/* --------------------------------- */

ul.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* damit padding nicht die Breite beeinflusst */

    background-color: #000000;
    color: #919090;

    height: auto;
    width: 100%;
    
    padding: 0;
    margin: 0;

    font-size: small;
}

footer ul.footer_bottom li {
    list-style-type: none; /* entfernt die Punkte */
    margin: 0;
    padding: 0 20px;
}

footer ul.footer_bottom li ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}
footer ul.footer_bottom li ul li {
    margin: 0;
    padding: 0;
    color: #919090;
    font-size: small;
}

footer ul.footer_bottom li ul li a {
    color: #919090;
    font-size: small;

}
/* ------------------------------------------------------------------------- */
